body {
  background-color: #b0efff;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}

.ContainerHeader {
  max-width: 100%;
  border: 2px solid black;
  display: block;
}

.ContainerHeaderText {
  text-align: center;
  font-weight: bold;
}

.ButtonBar {
  justify-content: center;
  max-height: 40px;
  display: flex;
  text-align: center
}

.ContainerSortButton {
  min-width: 250px;
  border: none;
  background-color: #cff3fc;
  cursor: pointer;
}

.Container {
  max-width: 100%;
  display: block;
  border: 2px solid black;
  padding: 0px;
}

.ItemContainer {
  display: flex;
  border: 2px dotted black;
  padding: 16px;
}

.ItemPhoto {
  border: none;
  padding: none;
  width: 180px;
  max-height: 180px;
  object-fit: contain;
}

.ItemText {
  flex: 1;
  border: 10px;
  padding: 16px;
  border: 2px dashed black;
  display: block;
}

.ItemTextHeader {
  display: flex;
  border: 10px;
  padding: 16px;
}

.ItemTextName {
  flex: 0 0 15%;
  font-weight: bold;
  font-size: 20px;
}

.ItemTextParty {
  flex: 0 0 15%;
  font-weight: bold;
  font-size: 20px;
}

.ItemTextInfo {
  flex: 1;
  border: 10px;
  padding: 16px;
}





