body {
  background-color: #b0efff;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}

.container-header {
  max-width: 100%;
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
}

.container {
  max-width: 100%;
  display: block;
  border: 2px solid black;
  padding: none;
}

.item-container {
  display: flex;
  border: 2px dotted black;
  padding: 16px;
}

.item-photo {
  flex: 0 0 15%;
  border: none;
  padding: none;
  width: 180px;
  max-height: 180px;
  object-fit: contain;
}

.item-text {
  flex: 1;
  border: 10px;
  padding: 16px;
  border: 2px dashed black;
}

.item-text-name {
  display: block;
  font-weight: bold;
  font-size: 20px;
  border: 10px;
  padding: 16px;
}

.item-text-info {
  flex: 1;
  border: 10px;
  padding: 16px;
}





