body {
  background-color: #b0efff;
}

.AU-container {
  display: flex;
  border: 16px;
  padding: 20px;
}

.AU-item-photo {
  max-width: 20%
  border: 10px;
  padding: 15px;
}

.AU-item-info {
  max-width: 70%;
  border: 10px;
  padding: 15px;
}
