body {
  background-color: #b0efff;
}

.AU-container > * {
  flex: 1;
  width: 50%
  border: 2px red;
  padding: 10px; /* space inside the border */
  margin: 20px; /* space around the border */
}

#AU-item-photo {
  width: 25%;
}

#AU-item-information {
  width: 75%;
}
