body {
  background-color: #b0efff;
}

.AU-container {
  display: flex;
}

.AU-container > * {
  flex: 1;
  width: 50%
  border: 2px red;
  padding: 10px; /* space inside the border */
  margin: 20px; /* space around the border */
}

.AU-item {
  border: 2px green;
  padding: 10px; /* space inside the border */
  margin: 20px; /* space around the border */
}

.AU-item.ellipsis {
  overflow: ellispsis;
}
