body {
  background-color: #caf4ff;
}

.header-container {
  width: 100%;
  display: flex;
  background-color: #a1ebff;
}

.DropDown {
  position: relative;
  display: inline-block;
}

.DropDownButton {
  background-color: #a1bfff;
  font-size: 16px;
  border: none;
  padding: 16px;
  cursor: pointer;
  flex: 1;
}

.DropDown .DropDownButton:hover {
  background-color: white; /* Optional: Maintain hover color */
}

.DropDownButtonContent {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index:1;
}

.DropDown:hover .DropDownButtonContent {
  display: block;
}

.DropDown:hover .DropDownButtonContentItem {
  display: block;
  color: black;
  background-color: #a1bfff;
  border: 10px;
  border-top-width: 0.5px;
  padding: 16px;
  font-size: 16px;
  min-width: 150px;
}

.DropDown .DropDownButtonContentItem:hover {
  background-color: white;
  cursor: pointer;
}

