body {
  background-color: #caf4ff;
}

.header-container {
  display: flex;
  width: 100%;
  background-color: #a1ebff;
}

.header-container button {
  background-color: #a1bfff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  flex: 1;
}

.header-container button:hover {
  background-color: #e6edfc;
}

.dropdown-container button {
  display: none;
}

#AboutUs:hover .dropdown-container {
  backgroud-color: red;
  display: block;  
}

